version: 3.3.{build}-pre
branches:
  only:
  - master
image: Visual Studio 2017
configuration: Release
before_build:
- cmd: dotnet restore
build:
  verbosity: minimal
after_build:
- ps: dotnet pack /p:Version=$env:APPVEYOR_BUILD_VERSION src\Elmah.Io.Log4Net\Elmah.Io.Log4Net.csproj --output artifacts
- ps: dotnet pack /p:Version=$env:APPVEYOR_BUILD_VERSION src\Elmah.Io.AspNetCore.Log4Net\Elmah.Io.AspNetCore.Log4Net.csproj --output artifacts
test:
  assemblies:
    only:
    - test\Elmah.Io.Log4Net.Test\bin\**\Elmah.Io.Log4Net.Test.dll
artifacts:
- path: '**\*.nupkg'
deploy:
- provider: NuGet
  api_key:
    secure: 9XpSybqiIbTFiTdfkpUaBSMdLFCm4yx/MYR7KtYbV18g5gP5L6U8bhhOPfi/56o+